
.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px black solid;
}
.panels{
    height: 100vh;
    width: 100vw;
    display:flex;
}

.panel{

    height: 100%;
    flex:1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition : flex .7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 4em;
    color: white;
    

}

.panel:hover{
    flex:5;
}
.panel:hover>.titreJeu{
    opacity: 100%;
}
.porsche{
    background-image: url("../img/porschecover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bmw{
    background-image: url("../img/m8.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.audi{
    background-image: url("../img/audicover.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.mercedes{
    background-image: url("../img/mercocover2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}