html, body{
    margin: 0;
    padding: 0;
}
.panels{

    background-color: red;
    height: 100vh;
    width: 100vw;

    display:flex;
}

.panel{

    height: 100%;
    flex:1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition : flex .7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

}

.panel:hover{
    flex:5;
}
.panel:hover>.titreJeu{
    opacity: 100%;
}

.lion{
    background-image: url("../img/1.jpg");

}
.hands{
    background-image: url("../img/2.jpg");



}

.eye{
    background-image: url("../img/3.jpg");

}
.road{
    background-image: url("../img/4.jpg");

}


.titreJeu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    opacity: 0%;
    transition: opacity 1s;
}

.monBouton{
    background-color: blueviolet !important;
}

.barbecue{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/barbecue.png");
    height: 100vh;
    width: 100vw;

    display: flex;

    justify-content: space-evenly;

    align-items: center;
    flex-direction:column

}

.boulette{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/boulette.png");
    border-radius: 50%;
    height: 250px;
    width: 250px;

}